@charset "UTF-8";

/* ===========================
 * .site-footer
 * ======================== */
.site-footer {
  .footer-inner {
    max-width: 1180px;
    min-width: 320px;
    margin: 0 auto;
    padding: 10px;
  }

  .footer-copyright {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
}
