@charset "UTF-8";

/* ===========================
 * .button
 * ======================== */
.button {
  display: flex;
  justify-content: center;
  margin: 0 0 32px;

  button {
    display: inline-block;
    text-align: center;
    color: #fff;
    background: #39c;
    border: 2px solid #39c;
    padding: 12px 16px;
    min-width: 160px;
    transition: .3s;
    cursor: pointer;

    @include hover() {
      color: #39c;
      background: #fff;
    }
  }
}
