@charset "UTF-8";

/* ===========================
 * .table-detail
 * ======================== */
.table-detail {
  margin: 0 0 32px;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    min-width: 640px;
    table-layout: fixed;
    border-collapse: collapse;
  }

  th,
  td {
    text-align: left;
    padding: 4px 8px;
    border: 1px solid #ccc;
    word-break: break-all;
  }

  .table-detail-name {
    text-align: center;
  }

  colgroup {
    .table-detail-name {
      width: 18%;
    }
    .table-detail-type {
      width: 22%;
    }
  }

  thead {
    th {
      font-weight: bold;
      background: #fafafa;
    }
  }

  tbody {
    th {
      text-align: center;
    }
    .table-detail-type {
      color: #666;
    }
  }
}
