@charset "UTF-8";

/* ===========================
 * Element
 * ======================== */
* {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "MS PGothic", sans-serif;
}

html {
  background: #fff;
}

body
button,
input,
textarea,
code,
select {
  color: #333;
  font-size: 16px;
}

em {
  font-style: normal;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

a {
  color: #39c;
}
